.advantage {
  display: block;
  width: 320px;
  background-color: #ffffff;
}

.advantage__list {
  padding: 0px;
  margin: 0px;

}

.advantage__item {
  list-style: none;


  &--blue {
    background-color: #81b3d2;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }

  &--gray {
    background-color: #eeeeee;
  }
}

.advantage__image-one {
  display: block;
  width: 320px;
  height: 260px;
  background-image: url("../img/photo-city@1x.png");
  background-position: center;
}

.advantage__image-two {
  display: block;
  width: 320px;
  height: 260px;
  background-image: url("../img/photo-bridge@1x.png");
  background-position: center;
}

.advantage__item--list {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  padding-top: 20px;
}

.advantage__item--last {
  padding-bottom: 20px;
}

.advantage__item--num {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.advantage__logo__container {
  //width: 40px;
  margin-right: 10px;
}

.advantage__text__container {
  width: 210px;
  padding-top: 10px;
}

.advantage__logo--house {
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.png");
}

.advantage__logo--gift {
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.png");
}

.advantage__logo--burger {
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.png");
}

@media (min-width: @tablet-width) {

  .advantage {
    width: 768px;
  }

  .advantage__list {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .advantage__item--list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 330px;
  }

  .advantage__item--blue {
    width: 256px;
    height: 256px;
  }

  .advantage__image-two {
    display: block;
    width: 512px;
    height: 256px;
    background-image: url("../img/photo-bridge@1x.png");
    background-position: center;
  }

  .advantage__image-one {
    display: block;
    width: 512px;
    height: 256px;
    background-image: url("../img/photo-city@1x.png");
    background-position: center;
  }

  .advantage__logo__container {
    width: 80px;
    margin-right: 0;
  }

  .advantage__text__container p {
    text-align: center;
  }

  .advantage__item--last {
    padding-bottom: 0;
  }

  .advantage__item--gray {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    height: 256px;
  }

  .advantage__three {
    display: flex;
    flex-direction: column;
  }

  .advantage__logo--house {
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house-max.png");
  }

  .advantage__logo--gift {
    width: 64px;
    height: 75px;
    background-image: url("../img/icon-gift-max.png");
  }

  .advantage__logo--burger {
    width: 77px;
    height: 68px;
    background-image: url("../img/icon-burger-max.png");
  }
}

@media (min-width: @desktop-width) {

  .advantage {
    width: 1200px;
  }

  .advantage__item--list {
    width: 400px;
  }

  .advantage__item--blue {
    width: 400px;
  }

  .advantage__image-two {
    width: 800px;
    background-image: url("../img/photo-bridge@1x.png");
  }

  .advantage__image-one {
    width: 800px;
    background-image: url("../img/photo-city@1x.png");
  }

  .advantage__item--gray {
    width: 400px;
  }
}