.text {
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;

  &--white {
    color: #ffffff;
  }

  &--gray {
    color: #333333;
  }

  &--black {
    color: #000000;
  }

  &--bold {
    font-weight: bold;
  }

  &--header {
    line-height: 26px;
    font-size: 21px;
  }

  &--big-header {
    line-height: 26px;
    font-size: 30px;
  }
}

