.advantage__item--blue {
  background-color: #81b3d2;
}
.advantage__item--gray {
  background-color: #eeeeee;
}
.page-header {
  display: flex;
  flex-direction: column;
}
.site-list {
  list-style: none;
}
.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 54px;
  background-color: #81b3d2;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
.text {
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
}
.text--white {
  color: #ffffff;
}
.text--gray {
  color: #333333;
}
.text--black {
  color: #000000;
}
.text--bold {
  font-weight: bold;
}
.text--header {
  line-height: 26px;
  font-size: 21px;
}
.text--big-header {
  line-height: 26px;
  font-size: 30px;
}
.h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
.body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background: #ffffff url("../img/test/sedona-index-mobile.jpg") no-repeat 50% 0;
  background-size: 720px auto;
  min-height: 750px;
}
@media (min-width: 768px) {
  .body {
    background: #ffffff url("../img/test/sedona-index-tablet.jpg") no-repeat 50% 0;
    background-size: 1178px auto;
  }
}
@media (min-width: 1200px) {
  .body {
    background: #ffffff url("../img/test/sedona-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1391px auto;
  }
}
.link-none {
  display: block;
  text-decoration: none;
}
