.advantage {
  display: block;
  width: 320px;
  background-color: #ffffff;
}
.advantage__list {
  padding: 0px;
  margin: 0px;
}
.advantage__item {
  list-style: none;
}
.advantage__item--blue {
  background-color: #81b3d2;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.advantage__item--gray {
  background-color: #eeeeee;
}
.advantage__image-one {
  display: block;
  width: 320px;
  height: 260px;
  background-image: url("../img/photo-city@1x.png");
  background-position: center;
}
.advantage__image-two {
  display: block;
  width: 320px;
  height: 260px;
  background-image: url("../img/photo-bridge@1x.png");
  background-position: center;
}
.advantage__item--list {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-top: 20px;
}
.advantage__item--last {
  padding-bottom: 20px;
}
.advantage__item--num {
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.advantage__logo__container {
  width: 40px;
  margin-right: 10px;
}
.advantage__text__container {
  width: 210px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .advantage__image-two {
    display: block;
    width: 512px;
    height: 260px;
    background-image: url("../img/photo-bridge@1x.png");
    background-position: center;
  }
  .advantage__image-one {
    display: block;
    width: 512px;
    height: 260px;
    background-image: url("../img/photo-city@1x.png");
    background-position: center;
  }
}
.button--hotel {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 26px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}
.developer-logo {
  margin-left: 10px;
}
.hotel-search {
  display: block;
  width: 320px;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 65px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.hotel-search__text {
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.hotel-search__text--one {
  font-weight: bold;
}
.info {
  display: block;
  width: 320px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.map {
  display: block;
  width: 320px;
  height: 350px;
  background-image: url("../img/map-mobile.png");
  background-position: center;
}
@media (min-width: 768px) {
  .map {
    display: block;
    width: 768px;
    height: 350px;
    background-image: url("../img/map-tablet.png");
    background-position: center;
  }
}
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.page-footer__main {
  width: 320px;
  box-sizing: border-box;
  padding-top: 40px;
}
.page-footer__list {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.page-footer__item {
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  align-content: center;
}
.page-footer__item:last-child {
  margin-right: 0;
}
.page-footer__text {
  display: block;
  margin-bottom: 35px;
}
.page-footer__site-developer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-header__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-header__menu {
  width: 320px;
  height: 54px;
  background-color: #ffffff;
}
.page-header__logo {
  display: block;
  position: absolute;
}
.page-header__close {
  display: block;
  width: 22px;
  position: relative;
  top: 0;
  left: 84px;
}
.page-header__close-button {
  border: none;
  background-color: #81b3d2;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cross.png");
}
.page-header__open {
  display: block;
  width: 23px;
  position: relative;
  top: 12px;
  left: 276px;
}
.page-header__open-button {
  border: none;
  background-color: #ffffff;
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-menu.png");
}
.page-header__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 389px;
  background-image: url("../img/back-mobile.png");
  background-position: center;
}
@media (min-width: 768px) {
  .page-header__menu {
    width: 768px;
    height: 54px;
    background-color: #ffffff;
  }
  .page-header__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 768px;
    height: 389px;
    background-image: url("../img/back-mobile.png");
    background-position: center;
  }
  .page-header__open-button {
    display: none;
  }
  .page-header__close-button {
    display: none;
  }
  .page-header__menu {
    display: none;
  }
}
.site-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 54px;
  background-color: #81b3d2;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
  }
  .site-list__item {
    width: 153px;
    background-color: #ffffff;
  }
  .site-list__item:nth-child(5) {
    order: 3;
  }
}
.text {
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.text--left {
  text-align: left;
}
.text--white {
  color: #ffffff;
}
.text--gray {
  color: #333333;
}
.text--black {
  color: #000000;
}
.text--bold {
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}
.text--header {
  width: auto;
  line-height: 26px;
  font-size: 18px;
}
.text--header-left {
  width: auto;
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 15px;
}
.text--big-header {
  line-height: 26px;
  font-size: 21px;
}
.h1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "PT+Sans", Arial;
}
@media (min-width: 768px) {
  .body {
    min-width: 648px;
  }
}
.link-none {
  display: block;
  text-decoration: none;
  color: #000000;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  padding: 0;
  margin: 0;
}
